:root {
    --pane-size: 20px;

    --card-scale: 3;
    --card-width: calc(156px / var(--card-scale));
    --card-height: calc(242px / var(--card-scale));
}

.pane {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: var(--pane-size);
    flex-direction: row-reverse;
    rotate: var(--rotation);
}

#left-hands {
    width: 100vh;
    transform: translateY(-100%);
    transform-origin: top left;
}

#right-hands {
    top: 100vh;
    right: var(--pane-size);
    width: 100vh;
    transform: translateX(100%);
    transform-origin: top right;
}

#top-hands {
    top: 0;
    width: 100vw;
}

#bottom-hands {
    bottom: 0;
    width: 100vw;
}

.hand {
    color: white;
    font-size: 20px;
}
.hand > div {
    display: flex;
}
.card {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 4px;
    margin-right: calc(-0.5 * var(--card-width));

    background-size: cover;
    background-image: url('./back.png');

    border: 1px solid black;
    font-size: calc(var(--card-height) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

    transition: width 0.4s ease,
                height 0.4s ease,
                transform 3s ease;
}

#table {
    --gap: 10px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1.5);
}

#table .card {
    margin: var(--gap);
    position: absolute;
}

#pile, #discard {
    display: block;
    width: calc(var(--card-width) + 2 * var(--gap));
    height: calc(var(--card-height) + 2 * var(--gap));
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

table {
    font-size: large;
    width: -webkit-fill-available;
}
td {
    padding: 5px 20px;
}

#start {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background: black;
    opacity: 0.6;
    border: none;
}

#start:hover {
    border: 1px solid lime;
}