:root {
    --pane-size: 20px;
}

.pane {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: var(--pane-size);
    flex-direction: row-reverse;
}

#left-hands {
    width: 100vh;
    transform: translateX(var(--pane-size)) rotate(90deg);
    transform-origin: top left;
}

#right-hands {
    top: 100vh;
    right: var(--pane-size);
    width: 100vh;
    transform: rotate(-90deg) translateX(100%);
    transform-origin: top right;
}

#top-hands {
    top: 0;
    width: 100vw;
    transform: rotate(180deg);
}

.hand-hidden {
    display: flex;
}
.card {
    --scale: 3;
    --width: calc(156px / var(--scale));
    --height: calc(242px / var(--scale));
    display: block;
    width: var(--width);
    height: var(--height);
    border-radius: 4px;
    margin-right: calc(-0.5 * var(--width));

    background-size: cover;
    background-image: url('./back.png');
}

#table {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#table .card {
    margin: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}